main {
  margin-top: 100px;  /* matches navbar height */
  padding: 20px;      /* optional content padding */
}

body {
  margin: 0;          /* remove default margin */
  padding: 0;         /* remove default padding */
  font-family: Arial;
}

h1 {
  color: #006600;
}

.match-card {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}


/* Navbar styling */
.navbar {
  display: flex;
  align-items: center;          /* vertically center everything */
  justify-content: space-between;
  width: 100%;
  height: 100px;                 /* fixed navbar height */
  padding: 0 30px;              /* only horizontal padding */
  background: rgb(0, 80, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}


/* Navbar logo */
.nav-logo {
  display: flex;                  /* make logo a flex container */
  align-items: center;            /* center image and text vertically */
  gap: 10px;                      /* space between image and text */
  font-size: 30px;
  color: rgb(230, 230, 230);
  font-weight: bold;
  text-decoration: none;
}

.nav-logo img {
  height: 50px;   /* logo image height */
  width: auto;    /* maintain aspect ratio */
}

.nav-logo span {
  font-size: 30px;      /* adjust text size */
  font-weight: bold;
  color: rgb(230, 230, 230);
}

/* Navbar links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;                   /* allow links to wrap on small screens */
}

.nav-links a {
  color: rgb(230, 230, 230);
  text-decoration: none;
  font-size: 20px;
}

.nav-links a:hover {
  color: rgb(255, 255, 255);
}

/* Footer styling */
.footer {
  width: 100%;                  /* full width */
  background: rgb(0, 80, 0);    /* match navbar color */
  color: rgb(230, 230, 230);    /* text color */
  text-align: left;            /* center the text */
  padding: 15px 30px;               /* vertical padding */
  box-sizing: border-box;
  margin-top: 50px;              /* space from content */
}